.App {
  text-align: center;
}

body, html{
  height: 100%;
}

.slide-contents{
  display: flex;
  height: 100%;
}

.header{
  background-color: yellow;
  position: fixed;
  top: 0;
  width: 100%;
  height: 4vw;
  font-size: 20px;
  display: flex;
  vertical-align: middle;
  z-index: 2;
}

.name, .selected-name{
  position: absolute;
  left: 1%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 100%;
  vertical-align: middle; 
}

.selected-name{
  border-bottom: rgb(100,100,250) solid 2px;
  color: rgb(100,100,250);
}

.name:hover, .selected-name:hover, .link:hover{
  cursor: pointer;
}

.links{
  position: absolute;
  right: 1%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: space-between;
  display: flex;
  width: 20%;
  height: 100%;
  vertical-align: middle;
}

.selected-link{
  border-bottom: rgb(100,100,250) solid 2px;
  color: rgb(100,100,250);
}

.contact{
  display: flex;
  width: 100%;
}

.contact-content{
  margin: auto;
}

.contact-links-container{
  width: 35%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 5%;
}

.contact-links{
  transition: all .5s ease-in-out; 
}

.contact-links:hover{
  transform: scale(1.4)
}

.home, .about{
  margin: auto;
  width: 100%;
}

.tech-container{
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15%;
  column-gap: 2vw;
  row-gap: 2vw;
  justify-content: center;
}

.tech{
  border: solid black 2px;
  padding: 5%;
  transition: all .5s ease-in-out; 
  background-color: white;
  border-radius: 15px;
}

.tech:hover{
  transform: scale(1.2)
}

.tech-familiar{
  grid-column-start: 1;
  grid-column-end: 7;
  text-align: center;
}