.App {
  text-align: center;
}

body, html{
  height: 100%;
}

.header{
  background-color: yellow;
  position: fixed;
  top: 0;
  width: 100%;
  height: 3vw;
  display: flex;
  vertical-align: middle;
}

.name{
  position: absolute;
  left: 1%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.name:hover{
  cursor: pointer;
}

.links{
  position: absolute;
  right: 1%;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  justify-content: space-between;
  display: flex;
  width: 20%;
}

.link:hover{
  cursor: pointer;
}